.u-section-1 .u-sheet-1 {min-height: 922px}
.u-section-1 .u-image-1 {width: 881px; height: 801px; margin: 60px 0 0 auto}
.u-section-1 .u-group-1 {width: 474px; min-height: 322px; margin: -322px auto 60px 0}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {margin-top: 0; margin-bottom: 0; font-size: 3.75rem; font-weight: 900}
.u-section-1 .u-btn-1 {margin-left: 0; font-size: 1.875rem; font-weight: 700; text-transform: uppercase; margin-bottom: 0; margin-top: 20px; background-image: none; border-style: none} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 921px}
.u-section-1 .u-image-1 {width: 674px}
.u-section-1 .u-group-1 {width: 391px; min-height: 344px; margin-top: -390px; margin-bottom: 38px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 1063px}
.u-section-1 .u-image-1 {height: 646px; margin-right: auto}
.u-section-1 .u-group-1 {width: 674px; min-height: 274px; margin-top: 23px; margin-left: auto; margin-bottom: 60px}
.u-section-1 .u-container-layout-1 {padding-top: 27px; padding-bottom: 27px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 935px}
.u-section-1 .u-image-1 {width: 540px; height: 518px}
.u-section-1 .u-group-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 743px}
.u-section-1 .u-image-1 {width: 340px; height: 326px}
.u-section-1 .u-group-1 {width: 340px}
.u-section-1 .u-text-1 {font-size: 2.25rem} }.u-section-2 .u-sheet-1 {min-height: 473px}
.u-section-2 .u-shape-1 {width: 353px; height: 353px; margin: 60px auto 0}
.u-section-2 .u-group-1 {width: 835px; min-height: 269px; margin: -311px 135px 102px auto}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {margin-top: 0; font-weight: 700; font-size: 1.875rem} 

@media (max-width: 1199px){ .u-section-2 .u-shape-1 {width: 291px}
.u-section-2 .u-group-1 {min-height: 256px; margin-bottom: 60px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-text-1 {margin-bottom: 0} }

@media (max-width: 991px){ .u-section-2 .u-group-1 {min-height: 218px; margin-top: -286px; margin-bottom: 65px; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {font-size: 1.5rem} }

@media (max-width: 767px){ .u-section-2 .u-group-1 {min-height: 289px; margin-top: -321px; margin-bottom: -189px; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 485px}
.u-section-2 .u-shape-1 {height: 340px; margin-top: 72px}
.u-section-2 .u-group-1 {min-height: 365px; margin-top: -353px; margin-bottom: -168px; width: auto; margin-right: initial; margin-left: initial} }